.div-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
  }
  
  .titre {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .home {
    color: white;
  }
  